

.navbar-inverse ul.navbar-nav li a.btn-link-1 {
	height: auto;
	margin: 4px 20px 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #fff;
}
.mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
#map { position:absolute; top:0; bottom:0; width:100%;}

.modal-body-map {
          width:  600px;
          height: 400px;
  }

.map-content-map{
	width:  600px;
    height: 400px;
}