
<style type="text/css">
  h1, h2, h3, h4, h5, h6 {
    color: black;
  }
</style>
  <div id="headerwrap2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          </div>
          <div class="divider"></div>

          <div class="col-sm-3"></div>
          <div class="col-sm-6 custom-form-style">


<h1><strong>Edit <%= resource_name.to_s.humanize %></strong></h1>
            <p>&nbsp;</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


                       <div class="form-group">
                        <%= f.label :email %>
                        <%= f.email_field :email, class: "form-control", :autofocus => true %>
                      </div>
                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


                      <div class="form-group">
                        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
                        <%= f.password_field :password, class: "form-control", :autocomplete => "off" %>
                      </div>

                      <div class="form-group">
                        <%= f.label :password_confirmation %> <i>(we need your current password to confirm your changes)</i>
                        <%= f.password_field :password_confirmation, class: "form-control" %>
                      </div>

                      <div class="form-group">
                        <%= f.submit "Update", class: "btn btn-primary" %>
                      </div>


<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>

 </div> <!-- Login panel end -->
          <div class="col-sm-3"></div>

        </div> <!-- Row End -->

        <hr>


      </div> <!--/ .container -->
  </div><!--/ #headerwrap -->
