<% content_for :header do %>
  <%= stylesheet_link_tag 'devise' %>
<% end %>


<% content_for :jsload do %>
  <%= javascript_include_tag 'devise' %>
<% end %>


<section id="home" name="home"></section>
<div id="headerwrap2">
<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    
    <div class="col-sm-6 custom-form-style">
      <h3 class="centered">Great! Few more things...</h3>
      <p>&nbsp;</p>
      <!-- Sign up panel -->
      <%= form_for(resource, :as => resource_name,:html => {"data-parsley-validate" => true}, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email, :class => 'custom-label' %>
        <%= f.email_field :email, class: "form-control",:value => params[:email], :placeholder => "example@gmail.com", "data-parsley-type"=>"email", "data-parsley-required"=>"", 'data-parsley-trigger' => 'blur' %>
        <!-- If the field is not a part of the form it is not stamped for the user. Also, had to put under if condition because if there is no value for provider then empty string is stamped by default through the form -->
      </div>
      <div class="form-group">
        <%= f.label :password, :class => 'custom-label' %>
        <%= f.password_field :password, class: "form-control",  :placeholder => "Password", :id => 'password', "data-parsley-required"=>"", "data-parsley-minlength" => "6", 'data-parsley-trigger' => 'blur' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, :class => 'custom-label' %>
        <%= f.password_field :password_confirmation, class: "form-control",  :placeholder => "Confirm Password", id: "password_confirm", 'data-parsley-equalto' => "#password", "data-parsley-required"=>"", "data-parsley-minlength" => "6", 'data-parsley-trigger' => 'blur' %>
      </div>
      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-success btn-lg btn-block" %>
      </div>
      <%= render "devise/shared/links" %>
      <% end %>
      </div> <!-- Signup panel end -->
      <div class="col-sm-3">
      </div>
      </div> <!-- Row End -->
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div id="small-section2">
            <p class="centered">Already have an account? <strong><%= link_to "Sign in",new_user_session_path %></strong> instead!</p>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>
    </div>
  </div>