
<div class="container">
  <div class="header">
       <!-- Top menu -->
  <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">One Concern</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="top-navbar-1">
        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? %>
          <li><%= link_to("Log In", new_user_session_path , :class => "btn btn-link-1") %></li>
          <% end %>

          <% if user_signed_in? %>
          
          <li><%= link_to edit_user_registration_path do %>
              <i class="fa fa-gear fa-fw"></i> Account Settings
           <% end %>
            </li>
             <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <i class="fa fa-sign-out fa-fw"></i> Logout
                    <% end %>
             </li>
             <% end %>
             <li>&nbsp;&nbsp;&nbsp;</li>
             </ul>
        </ul>
      </div>
    </div>
  </nav>
  
      </div>

      <div class="jumbotron" >
       <!-- Button trigger modal -->
        <h3>Welcome <%=current_user.email%>!</h3>

		<button type="button" class="btn btn-primary" data-toggle="modal" onClick="loadAddModal();">
		  Add Map
		</button>
       
       <br>

        <!-- Displaying list of all the maps -->
        <div id = "idMapList">  
             <% @maps.each do |map| %>
	            <div class="row" id="mapRow<%=map.id%>">
            
	            <div class="col-sm-6 pull-left"><%=map.map_name%></div>
                <div class="col-sm-2">
                	<button type="button" class="btn btn-success" onClick="loadMap(<%=map.id%>);">View Map</button>
                </div>
                <div class="col-sm-2">
                	<button type="button" class="btn btn-primary" onClick="editMap(<%=map.id%>);">Edit</button>
                </div>
                <div class="col-sm-2 pull-right">
                	<button type="button" class="btn btn-danger" onClick="deleteMap(<%=map.id%>);">Delete</button>
                </div>
                </div>       
              <% end %>
              
        </div>


      </div>
      <!-- Modal -->
		<div class="modal fade" id="addMapModal" tabindex="-1" role="dialog"  aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">Map Details</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
                 <div class="form-group row">
				  <label for="idMapNameText" class="col-2">Name</label>
				  <div class="col-10">
				    <input class="form-control" type="text" value="" id="idMapNameText" placeholder="eg. USA Map">
				  </div>
				</div>
				
				<div class="form-group row">
				  <label for="idUpperRightLat" class="col-2 col-form-label">Upper Right Latitute</label>
				  <div class="col-10">
				    <input class="form-control" type="number" id="idUpperRightLat" placeholder="e.g. 32.958984">
				  </div>
				</div>
				
                <div class="form-group row">
				  <label for="idUpperRightLongitute" class="col-2 col-form-label">Upper Right Longitude</label>
				  <div class="col-10">
				    <input class="form-control" type="number" id="idUpperRightLongitute" placeholder="e.g. -5.353521">
				  </div>
				</div>
				
				<div class="form-group row">
				  <label for="idLowerLeftLatitude" class="col-2 col-form-label">Lower Left Latitude</label>
				  <div class="col-10">
				    <input class="form-control" type="number" id="idLowerLeftLatitude" placeholder="e.g. 43.50585">
				  </div>
				</div>

               <div class="form-group row">
				  <label for="idLowerLeftLongitude" class="col-2 col-form-label">Lower Left Longitude</label>
				  <div class="col-10">
				    <input class="form-control" type="number"  id="idLowerLeftLongitude" placeholder="e.g. 5.615985">
				  </div>
				</div>

                <div  id = "idMapFormMessage" class="alert alert-danger hidden">
                  Fields cannot be empty.
                </div> 

		      </div>
		      <div class="modal-footer">
		        <input type="hidden" id="editMapId" />
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" id="btnAddMap" class="btn btn-primary" onClick="addMap();">Add</button>
		        <button type="button" id="btnUpdateMap" class="btn btn-primary hidden" onClick="updateMap();">Update</button>
		      </div>
		    </div>
		  </div>
		</div>         

     
        <div class="modal fade" id="mySavedMapModal">
		    <div class="modal-dialog">
		        <div class="modal-content modal-content-map">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                 <h4 class="modal-title">Map Viewer</h4>
		            </div>
		            <div class="modal-body modal-body-map">
		                <div class="container">
		                    <div class="row">
		                        <div id='map' class="map-content map-content-map"></div>
		                    </div>
		                </div>
		            </div>
		            <div class="modal-footer">
		                <h5 class="modal-title pull-left"><b>*</b>Click to Add Marker</h5>
		                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		            </div>
		        </div>
		        <!-- /.modal-content -->
		    </div>
    <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

       
 
    <div class="modal fade" id="addMarkerModal" >
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                 <h4 class="modal-title">Add Marker</h4>
		            </div>
		            <div class="modal-body">
		                     
		                      <div class="form-group row">
							  <label for="idMarkerLatitude" class="col-2">Latitude</label>
							  <div class="col-10">
							    <input class="form-control" type="text" value="" id="idMarkerLatitude" placeholder="eg. New York">
							  </div>
							</div>

							 <div class="form-group row">
							  <label for="idMarkerLongitude" class="col-2">Longitude</label>
							  <div class="col-10">
							    <input class="form-control" type="text" value="" id="idMarkerLongitude" placeholder="eg. New York">
							  </div>
							</div>

		                     <div class="form-group row">
							  <label for="idMarkerName" class="col-2">Name</label>
							  <div class="col-10">
							    <input class="form-control" type="text" value="" id="idMarkerName" placeholder="eg. New York">
							  </div>
							</div>

							<div class="form-group row">
							  <label for="idMarkerDescription" class="col-2">Description</label>
							  <div class="col-10">
							    <input class="form-control" type="text" value="" id="idMarkerDescription" placeholder="eg. New York City">
							  </div>
							</div>

							<div class="form-group row">
							  <label for="idMapNumberResidents" class="col-2">Number Of Residents</label>
							  <div class="col-10">
							    <input class="form-control" type="number" value="" id="idMapNumberResidents" placeholder="eg. 1000">
							  </div>
							</div>
              
		                    <div  id = "idMarkerFormMessage" class="alert alert-danger hidden">
                             Fields cannot be empty.
                            </div> 
		            </div>
		            <div class="modal-footer">
		                <input type="hidden" id="markerMapId" />
		                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                <button type="button" id="btnAddMarker" class="btn btn-primary" data-dismiss="modal" onClick="addMarker();">Add Marker</button>
		                
		            </div>
		        </div>
		        <!-- /.modal-content -->
		    </div>
    <!-- /.modal-dialog -->
    </div>
   





    


      <footer class="footer">
        <p>&copy; One Concern 2017</p>
      </footer>

    </div> <!-- /container -->