<div class="container">
      <div class="header clearfix">
		        <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
		        <div class="container">
		        <div class="navbar-header">
		        
		        <a class="navbar-brand" href="/">One Concern</a>
		      </div>
		      <div class="collapse navbar-collapse" id="top-navbar-1">
		        <ul class="nav navbar-nav navbar-right">
		          <li><%= link_to("Log In", new_user_session_path , :class => "btn btn-link-1") %></li>
		        </ul>
		      </div>
		    </div>
		  </nav>
      </div>

      <div class="jumbotron" >
        <h3 class="display-5">One Concern - Maps</h3>
        

        <!-- Form Start -->
        <div class="form-box">
          <div class="form-top">
            <div class="form-top-right">
              <span aria-hidden="true" class="typcn typcn-pencil"></span>
            </div>
          </div>
          <div class="form-bottom">
            <form role="form" action="/users/sign_up" method="get" id="signupForm" data-parsley-validate>
              <div class="form-group">
                <input type="email" name="email" placeholder="Email..."
                class="form-email form-control" id="form-email" data-parsley-type="email" data-parsley-trigger="blur" data-parsley-required>
              </div>
              <button type="submit" class="btn btn-block sign-up-main btn-success" ><strong>Sign Up</strong></button>
              <br>
              <span style="float: right"><small>Already have an account? <strong><%= link_to "Sign in",new_user_session_path %></strong> instead!</small></span>
              <br>
            </form>
            

          </div>
        </div>
        <!-- Form End -->
      </div>

  

      <footer class="footer">
        <p>&copy; One Concern 2017</p>
      </footer>

    </div> <!-- /container -->