<% content_for :header do %>
  <%= stylesheet_link_tag 'devise' %>
<% end %>


<% content_for :jsload do %>
  <%= javascript_include_tag 'devise' %>
<% end %>
<section id="home" name="home"></section>
  <div id="headerwrap2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          </div>
          <div class="divider"></div>

          <div class="col-sm-3"></div>
          <div class="col-sm-6 custom-form-style">
            <!--h1 class="centered" style="color: black;">Firecode.io is in Private Beta. <%= link_to("Request an invite", pages_landing_path) %> to get started!</h1-->
            <p>&nbsp;</p>
              <!-- Sign in panel -->
              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

                <div class="form-group">
                  <%= f.label :email, :class => 'custom-label' %>
                  <%= f.email_field :email, class: "form-control", :autofocus => true, :placeholder => "example@gmail.com", "data-parsley-type"=>"email", "data-parsley-required"=>"", 'data-parsley-trigger' => 'blur' %>
                </div>

                <div class="form-group">
                  <%= f.label :password, :class => 'custom-label' %>
                  <%= f.password_field :password, class: "form-control",  :placeholder => "Password", "data-parsley-required"=>"", "data-parsley-minlength" => "6", 'data-parsley-trigger' => 'blur' %>
                </div>

                <div class="form-group">
                  <div class="checkbox custom-label">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, :class => 'small' %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.submit "Sign in", class: "btn btn-success btn-lg btn-block" %>
                </div>
                <%= render "devise/shared/links" %>
              <% end %>
              <!-- Other services sign up --> 
              <br>
              <br>
                            
        
          </div> <!-- Login panel end -->
          <div class="col-sm-3"></div>
        </div> <!-- Row End -->


      </div> <!--/ .container -->
  </div><!--/ #headerwrap -->